body { margin: 0 auto; }

header {
	height: 70px;
	background-color: #3e739d;
	border-bottom: 1px solid #494949;
	display: flex;
	align-items: center;
	justify-content: center;
}
header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 20px;
	color: white;
}
header > .top {
	position: absolute;
	left: 20px;
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: #fff;
}
nav.menu {
	width: 300px;
	min-height: calc(100vh - 121px);
	background-color: #03a9f4;
	position: absolute;
	left: -300px;
	transition: .3s all;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #494949;
    text-transform: uppercase;
}
div {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}


.menu_show {
	left: 0!important;
}


class="menu" {
  font-family: arial;
}




body {
	/*I want the height 5x the height of the viewport*/
	/*100vh = 100% of the viewport*/
	height: 500vh;
	color: white;
	background-image: url(media/img_0248.jpg);
	transition: 0.8s all;
	margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
}

h1, h3{
	text-align: center;
}

.banner {
	position: fixed;
	width: 98%;
	text-align: center;
	/*rgb range 0-255*/
	/*a (alpha) 0 to 1*/
	background-color: rgba(20, 200, 100, .5);
	top: 50%;
	border: 10px solid black;
	margin: 0;
	color: black;
	transition: 0.8s all;
	font-size: 40px;
}













