body {
  background-color: grey;
}

img {
	display: block;
	margin: auto;
	position: relative;
	top: 25vh;
}

body {
	/*I want the height 5x the height of the viewport*/
	/*100vh = 100% of the viewport*/
	height: 500vh;
	color: white;
	background-color: #8c14fc;
	transition: 0.8s all;
	margin: 0;
}

h1, h3{
	text-align: center;
}
